<div class="container w-[80%] mx-auto ">
    <app-header></app-header>
    <div class="section h-auto  w-full  mb-8">
        <div class="container user w-[80%] mx-auto  grid grid-cols-2 gap-3" *ngFor="let user of User">
            <div class="">
                <p class="font-bold text-[36px] mb-[20px]">Hi, I am <span>{{user.name}}</span>, <br> {{user.position}}
                </p>
                <p class="text-[14px] mb-[20px] ">
                    {{user.about}}
                </p>
                <a href="../../image/mycv.docx" download="cv"  class="border rounded bg-[#FF6464] text-white font-bold p-3 ">Download Resume</a>
            </div>
            <div class="image">

                <img class="ml-auto w-[246px] h-[246px] rounded-full object-cover " src="{{user.image}}" alt="">

            </div>
        </div>
    </div>

    <div class="section  w-full bg-[#EDF7FA]">
        <div class="container w-[80%] mx-auto   ">
            <div class="w-full flex mb-[10px] pt-[10px]">
                <p class="w-[90%] text-[20px] ">Recent posts</p>
                <p class="text-[#00A8CC] pt-[5px] hover:underline">View all</p>
            </div>
            <div class="w-full grid grid-cols-2 gap-4 box ">
                <div class=" bg-white p-4 rounded mb-[30px] " *ngFor="let post of Post">
                    <a routerLink="/post/{{post.id}}">
                        <p class="text-[26px] font-bold mb-4"> {{post.title}}</p>
                        <p class="mb-4 text-[16px]"><span>{{post.created_at}}</span> |
                            <span>{{post.categoryPost.name}}</span></p>
                        <p class="text-[14px]">{{post.short_desc}}</p>
                    </a>

                </div>

            </div>
        </div>
    </div>
    <div class="section w-full mb-[100px]">
        <div class="container w-[80%] mx-auto">
            <div class="w-full flex mb-[10px] pt-[20px]">
                <p class="w-[90%] text-[20px] ">Featured Projects</p>
            </div>
            <div class="w-full grid grid-rows-3 gap-4  ">
                <div class="flex border-b pb-[20px] box2 " routerLink="/project/{{project.id}}"
                    *ngFor="let project of Project">
                    <div class="img w-[30%] ">
                        <img class="w-[246px] h-[180px] object-cover rounded-[10px]" src="{{project.image}}" alt="">
                    </div>
                    <div class="text">
                        <p class="font-bold text-[26px] mb-4">{{project.name}}</p>
                        <p class="mb-4"><span
                                class="border rounded-[20px] bg-[#142850] text-white px-[10px]">{{project.createAt}}</span>
                            <span class="pl-[20px] text-[#8695A4]">{{project.categoriesProject.name}}</span></p>
                        <p class="">{{project.short_desc}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>