<div class="container w-full mx-auto ">
    <div class="header flex w-[80%] mb-[20px] mx-auto ">
        <div class="logo w-[80%]">

        </div>
        <div class="navbar w-[20%]">
            <ul class="menu flex ">
                <li class="text-black font-bold text-[20px] p-3  hover:underline hover:text-blue-600"><a
                        routerLink="/project">Projects</a></li>
                <li class="text-black font-bold text-[20px] p-3  hover:underline hover:text-blue-600"><a
                        routerLink="/post">Posts</a></li>
                <li class="text-black font-bold text-[20px] p-3  hover:underline hover:text-blue-600"><a
                        routerLink="/contact">Contact</a></li>
            </ul>
        </div>

    </div>
    <div class="section h-auto  w-full  mb-8">
        <div class="container w-[82%] mx-auto grid grid-cols-2 gap-4 ">
            <div class="grid  border rounded-[10px] p-4">
                <div class="w-full text-[30px] font-bold mb-[30px]">
                    My Projects
                </div>
                <div class="w-full  grid  gap-4 ">
                    <div class=" border-b pb-[20px] flex" *ngFor="let project of Project " routerLink="/work/{{project.id}}">
                        <div class="img w-[246px] mr-[5%] ">
                            <img class="w-[246px] h-[180px] object-cover rounded-[10px]" src="{{project.image}}" alt="">
                        </div>
                        <div class="w-[60%]">
                            <p class="font-bold text-[24px] mb-4">{{project.name}}</p>
                            <p class="mb-4 text-[14px] text-[#8695A4]"><span class="text-white border rounded-[20px] bg-[#142850] px-[10px] mr-[10px]">{{project.createAt}}</span>  <span>{{project.categoriesProject.name}}</span></p>
                            <p class="">{{project.short_desc}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border rounded-[10px] ">
                <div class="p-4 grid gap-4" *ngFor="let user of User">
                    <div class="w-full text-[30px] font-bold mb-[30px]">
                        My Profile
                    </div>
                    <div class="flex">
                        <i class='bx bxs-user text-[28px] bg-black text-white p-2 rounded mr-[20px] '></i>  
                        <div>
                            <p class="text-[18px] font-bold">Full name</p>
                            <p class="text-[14px]">{{user.fullname}}</p>
                           
                        </div>
                    </div>
                    <div class="flex">
                        <i class='bx bxs-phone text-[28px] bg-black text-white p-2 rounded mr-[20px] '></i>  
                        <div>
                            <p class="text-[18px] font-bold">Phone number</p>
                            <p class="text-[14px]">{{user.phone}}</p>
                           
                        </div>
                    </div>
                    <div class="flex">
                        <i class='bx bxs-location-plus text-[28px] bg-black text-white p-2 rounded mr-[20px] '></i>  
                        <div>
                            <p class="text-[18px] font-bold">Address</p>
                            <p class="text-[14px]">{{user.address}} </p>
                           
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="footer w-full">
        <div class="section text-center  items-center  mx-auto ">
            <div class="flex  justify-center mb-[10px]">
                <i class='bx bxl-facebook-square  text-[40px] '></i>
                <i class='bx bxl-instagram-alt  text-[40px] '  ></i>
                <i class='bx bxl-twitter  text-[40px] ' ></i>
                <i class='bx bxl-linkedin-square  text-[40px] '></i>
            </div>
            <div class=" mx-auto">
                <p class="text-[13px]">Copyright ©2020 All rights reserved </p>
            </div>
        </div>
    </div>
</div>