<div class="container w-full mx-auto ">
    <div class="header flex w-[80%] mb-[20px] mx-auto ">
        <div class="logo w-[75%]">

        </div>
        <div class="navbar w-[25%]">
            <ul class="menu flex ">
                <li class="text-black font-bold text-[20px] p-3  hover:underline hover:text-blue-600"><a
                        routerLink="/project">Projects</a></li>
                <li class="text-black font-bold text-[20px] p-3  hover:underline hover:text-blue-600"><a
                        routerLink="/post">Posts</a></li>
                <li class="text-black font-bold text-[20px] p-3  hover:underline hover:text-blue-600"><a
                        routerLink="/contact">Contact</a></li>
            </ul>
        </div>

    </div>

    <div class="section w-full mb-[100px]">
        <div class="container w-[60%] mx-auto">
            <div class="w-[90%] mx-auto flex mb-[50px] pt-[20px] justify-between">
                <p class="w-[90%] text-[36px] font-bold">Posts</p>
                <ul class="flex justify-between items-center">
                    <li
                        class="p-[10px] border hover:bg-[#1b74e4] hover:text-white min-w-[70px]  text-center hover:bg-blue-500 hover:text-white">
                        <button>All</button></li>
                    <li class="p-[10px] border hover:bg-[#1b74e4] hover:text-white min-w-[70px]  text-center hover:bg-blue-500 hover:text-white"
                        *ngFor="let item of CateList"><button (click)="onFilter(item.id)">{{item.name}}</button></li>
                </ul>

            </div>
            <div class="w-[90%] mx-auto grid gap-4 ">
                <div class=" border-b pb-[20px]" *ngFor="let post of PostList" routerLink="/post/{{post.id}}">
                    <div class="">
                        <p class="font-bold text-[24px] mb-4">{{post.title}}</p>
                        <p class="mb-4 text-[18px] text-[#8695A4]"><span class="text-black">{{post.created_at}}</span>
                        </p>
                        <p class="">{{post.short_desc}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer w-full">
        <div class="section text-center  items-center  mx-auto ">
            <div class="flex  justify-center mb-[10px]">
                <i class='bx bxl-facebook-square  text-[40px] '></i>
                <i class='bx bxl-instagram-alt  text-[40px] '></i>
                <i class='bx bxl-twitter  text-[40px] '></i>
                <i class='bx bxl-linkedin-square  text-[40px] '></i>
            </div>
            <div class=" mx-auto">
                <p class="text-[13px]">Copyright ©2020 All rights reserved </p>
            </div>
        </div>
    </div>
</div>