<div class="container w-full mx-auto ">
    <div class="header flex w-[80%] mb-[20px] mx-auto ">
        <div class="logo w-[75%]">

        </div>
        <div class="navbar w-[25%]">
            <ul class="menu flex ">
                <li class="text-black font-bold text-[20px] p-3  hover:underline hover:text-blue-600"><a
                        routerLink="/project">Projects</a></li>
                <li class="text-black font-bold text-[20px] p-3  hover:underline hover:text-blue-600"><a
                        routerLink="/post">Posts</a></li>
                <li class="text-black font-bold text-[20px] p-3  hover:underline hover:text-blue-600"><a
                        routerLink="/contact">Contact</a></li>
            </ul>
        </div>

    </div>

    <div class="section w-full mb-[100px]">
        <div class="container w-[60%] mx-auto">
            <div class="w-[90%] mx-auto flex mb-[50px] pt-[20px]">
                <p class="w-[90%] text-[36px] font-bold">Posts</p>
            </div>
            <div class="w-[90%] mx-auto grid gap-4 ">
                <div class=" border-b pb-[20px]">
                    <div class="">
                        <p class="font-bold text-[24px] mb-4">UI Interactions of the week</p>
                        <p class="mb-4 text-[18px] text-[#8695A4]"><span class="text-black">12 Feb 2020</span> | <span>Design, Pattern</span></p>
                        <p class="">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                            consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
    <div class="footer w-full">
        <div class="section w-[20%] mx-auto grid grid-rows-2">
            <div class="flex w-full mb-[10px]">
                <i class='bx bxl-facebook-square w-[25%] text-[40px] '></i>
                <i class='bx bxl-instagram-alt w-[25%] text-[40px] '  ></i>
                <i class='bx bxl-twitter w-[25%] text-[40px] ' ></i>
                <i class='bx bxl-linkedin-square w-[25%] text-[40px] '></i>
            </div>
            <div class="w-[95%] mx-auto">
                <p class="text-[13px]">Copyright ©2020 All rights reserved </p>
            </div>
        </div>
    </div>
</div>