<div class="container w-full mx-auto ">
    <div class="header flex w-[80%] mb-[20px] mx-auto ">
        <div class="logo w-[75%]">

        </div>
        <div class="navbar w-[25%]">
            <ul class="menu flex ">
                <li class="text-black font-bold text-[20px] p-3  hover:underline hover:text-blue-600"><a
                        routerLink="/project">Projects</a></li>
                <li class="text-black font-bold text-[20px] p-3  hover:underline hover:text-blue-600"><a
                        routerLink="/post">Posts</a></li>
                <li class="text-black font-bold text-[20px] p-3  hover:underline hover:text-blue-600"><a
                        routerLink="/contact">Contact</a></li>
            </ul>
        </div>

    </div>

    <div class="section w-full mb-[100px]">
        <div class="container w-[60%] mx-auto">
            <div class="w-[90%] mx-auto flex mb-[50px] pt-[20px]">
                <p class="w-[90%] text-[36px] font-bold">Projects</p>
            </div>
            <div class="w-[90%] mx-auto grid  gap-4 ">
                <div class=" border-b pb-[20px] flex" *ngFor="let project of Project " routerLink="/project/{{project.id}}">
                    <div class="img w-[30%] mr-[5%] ">
                        <img class="w-[246px] h-[180px] object-cover rounded-[10px]" src="{{project.image}}"
                            alt="">
                    </div>
                    <div class="w-[65%]">
                        <p class="font-bold text-[24px] mb-4">{{project.name}}</p>
                        <p class="mb-4 text-[18px] text-[#8695A4]"><span
                                class="text-white border rounded-[20px] bg-[#142850] px-[10px] mr-[10px]">{{project.createAt}}</span>
                            <span>{{project.categoriesProject.name}}</span></p>
                        <p class="">{{project.short_desc}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer w-full">
        <div class="section text-center  items-center  mx-auto ">
            <div class="flex  justify-center mb-[10px]">
                <i class='bx bxl-facebook-square  text-[40px] '></i>
                <i class='bx bxl-instagram-alt  text-[40px] '  ></i>
                <i class='bx bxl-twitter  text-[40px] ' ></i>
                <i class='bx bxl-linkedin-square  text-[40px] '></i>
            </div>
            <div class=" mx-auto">
                <p class="text-[13px]">Copyright ©2020 All rights reserved </p>
            </div>
        </div>
    </div>
</div>